@charset "ISO-8859-1";
.main-content{
    width: 80%;
}

.required{
    color: red;
}

.box{
    width: 60vh;
    height: 38px;
}

.unrequired{
    margin-top: 3px;
    margin-bottom: 3px;
}

.text-sm{
    font-size: 14px;
}

.list-btn{
    margin-left: 100px;
}

.text-btn{
    color: white;
    height: 30px;
    font-size: 14px;
    line-height: 14px;
    width: 80px;
}