.main-content{
    width: 80%;
}

.required{
    color: red;
}

.box{
    width: 60vh;
    height: 38px;
}

.unrequired{
    margin-top: 3px;
    margin-bottom: 3px;
}

.text-sm{
    font-size: 14px;
}

.list-btn{
    margin-left: 100px;
}

.text-btn{
    color: white;
    height: 30px;
    font-size: 14px;
    line-height: 14px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-custom{
    border: 1px solid lightgray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.border-icon-search{
    border: 1px solid gray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0;
}

.bg-custom{
    background-color: #d9d5d5;
}

.now-index{
    color: white;
    background-color: cornflowerblue;
}
.active{
	color: red !important;
}

